{% extends "package/read_base.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _('Action') }} - {{ super() }}{% endblock %}

{% block primary_content_inner %}
  <h1>Actions</h1>
  {% block export_fields %}
    {% snippet 'package/snippets/dsaction-export.html', pkg=pkg, data=data, errors=errors, form=form %}
  {% endblock %}

  {% block clone_fields %}
    {% snippet 'package/snippets/dsaction-clone.html', pkg=pkg, data=data, errors=errors, form=form %}
  {% endblock %}

{% endblock %}